@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: '#171717';
  --accent:#5786d1;
  --accent-2:#6da5e2;
  --accent-3: #d9a441;
  --accent-3-hover: #e4b85f;
  --lightgray:#f8f8f8;
  --gray: lightslategray;
  --transition:0.3s;
  --shadow: 0 6px 20px rgba(0,0,0,0.08);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/* DARK MODE, ADJUST LATER
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
  overflow-x: hidden;
}
